@charset "utf-8";
/* CSS Document */
body{
	background:url(img/bg.jpg);
}
#sayfa{
	width:980px;
	height:auto;
	background-color:#FFF;
	border-radius:5px;
	margin:0 auto;
}
#logo{
	width:189px;
	height:150px;
	float:left;
}
#menu{
	width:790px;
	height:40px;
	background:url(img/bgMenu.png);
	float:left;
	margin-top:55px;
}
#menu li{
	list-style-type:none;
	float:left;
	margin:0 15px 0 20px;
	line-height:40px;
}
#menu li a{
	text-decoration:none;
	color:#060;
	font-weight:bold;
}
#menu li:hover a{
	color:#063;
	background-color:#F00;
}
#menu ul{
	margin:0px;
	padding:0px;
}
#icerik{
	padding:15px;
}
.kutu{
	width:480px;
	height:303px;
	background:url(img/bg.jpg);
	border-radius:5px;
	margin-bottom:10px;
	color:#000;
	text-align:center;
}
#desen{
	width:980px;
	height:26px;
	background:url(img/divider.png);
	margin-bottom:15px;
}
#icerik{
	width:980px;
	height:303px;
}
.kutu{
	width:460px;
	height:300px;
	margin:10px;
	float:left;
	background:url(img/bg.jpg);
	color:#000;
}
h4{
	color:#000;
	float:left;
}
#kutu{
	width:300px;
	height:200px;
	background-color:#F4F0E3;
	float:left;
	margin:0 13px 0 7px;
	margin-bottom:10px;
	padding:3px;
}
#alt{
	border:1px solid #CCC;
	border-radius:5px;
	text-align:center;
	font-weight:bold;
}
#footer{
	width:980px;
	height:50px;
	text-align:left;
}
.temizle{
	clear:both;
}

